In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv(r'movies1.csv' , index_col = 0)

In [3]:
movies

,name,industry,genre,language,duration,rating
id,,,,,,
1,Baahubali,Tollywood,Action,Telugu,170,9.5
2,Brahmastra,Bollywood,Mystereous,Hindi,180,5.0
3,Uri - The Surgical Strike,Bollywood,Action,Hindi,120,10.0
4,DDLJ,Bollywood,Romantic,Hindi,150,10.0
5,Avengers - End Game,Hollywood,Action,English,180,9.0
6,Tenet,Hollywood,SciFI,English,150,8.5
7,Major,Bollywood,Action,Hindi,140,8.0
8,Interstellar,Hollywood,SciFi,English,190,7.0
9,Gravity,Hollywood,SciFi,English,130,6.0
10,Titanic,Hollywood,Drama,English,180,9.0
11,Yeh Jawani Hai Deewani,Bollywood,Romantic,Hindi,150,5.0
12,Houseful,Bollywood,Comedy,Hindi,150,6.0
13,The Dictator,Hollywood,Comedy,English,120,7.0
14,Hera Pheri,Bollywood,Comedy,Hindi,140,9.0
15,Sholay,Bollywood,Drama,Hindi,150,8.5

In [4]:
# movies.drop('id' , axis=1, inplace=True)

# q1. longest movie

In [5]:
movies['name'][movies['duration'].argmax()]

'Major'

In [6]:
movies['duration'].argmax()

7

# q2. no of movies having 10 star rating

In [7]:
movies['name'][movies['rating'] == 10]

id
3    Uri - The Surgical Strike
4                         DDLJ
Name: name, dtype: object

In [8]:
sum(movies['rating'] == 10)

2

# q3. no of industries

In [9]:
movies['industry'].value_counts()

Bollywood    8
Hollywood    6
Tollywood    1
Name: industry, dtype: int64

In [10]:
movies['industry'].value_counts().count()

3

In [11]:
len(movies['industry'].value_counts())

3

In [12]:
movies['industry'].nunique()

3

In [13]:
movies['industry'].unique()

array(['Tollywood', 'Bollywood', 'Hollywood'], dtype=object)

# q4. least liked comedy movie

In [14]:
movies['name'][movies[movies['genre'] == 'Comedy']['rating'].idxmin()]

'Houseful'

# q5. longest english movie

In [15]:
movies.columns

Index(['name', 'industry', 'genre', 'language', 'duration', 'rating'], dtype='object')

In [16]:
movies['name'][movies[movies['language'] == 'English']['duration'].idxmax()]

'Interstellar'

In [17]:
#movies['name'][movies['language'] == 'English']['duration'].idxmax()

# q6. genre of interstellar

In [18]:
movies['genre'][movies['name']=='Interstellar']

id
8    SciFi
Name: genre, dtype: object

In [19]:
movies['genre'][movies['name']=='Interstellar'].values[0]

'SciFi'

In [20]:
movies['genre'][movies['name'].str.lower()=='Interstellar'.lower()].values[0]

'SciFi'

------

In [21]:
names = movies['name']

In [22]:
names.values

array(['Baahubali', 'Brahmastra', 'Uri - The Surgical Strike', 'DDLJ',
       'Avengers - End Game', 'Tenet', 'Major', 'Interstellar', 'Gravity',
       'Titanic', 'Yeh Jawani Hai Deewani', 'Houseful', 'The Dictator',
       'Hera Pheri', 'Sholay'], dtype=object)

In [23]:
names.str.capitalize()

id
1                     Baahubali
2                    Brahmastra
3     Uri - the surgical strike
4                          Ddlj
5           Avengers - end game
6                         Tenet
7                         Major
8                  Interstellar
9                       Gravity
10                      Titanic
11       Yeh jawani hai deewani
12                     Houseful
13                 The dictator
14                   Hera pheri
15                       Sholay
Name: name, dtype: object

In [24]:
names.str.casefold()

id
1                     baahubali
2                    brahmastra
3     uri - the surgical strike
4                          ddlj
5           avengers - end game
6                         tenet
7                         major
8                  interstellar
9                       gravity
10                      titanic
11       yeh jawani hai deewani
12                     houseful
13                 the dictator
14                   hera pheri
15                       sholay
Name: name, dtype: object

In [25]:
names.str.count('e')

id
1     0
2     0
3     2
4     0
5     3
6     2
7     0
8     2
9     0
10    0
11    3
12    1
13    1
14    2
15    0
Name: name, dtype: int64

In [26]:
names.str.endswith('i')

id
1      True
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14     True
15    False
Name: name, dtype: bool

In [27]:
names.str.find('e')

id
1    -1
2    -1
3     8
4    -1
5     2
6     1
7    -1
8     3
9    -1
10   -1
11    1
12    4
13    2
14    1
15   -1
Name: name, dtype: int64

In [28]:
names.str.get(0)

id
1     B
2     B
3     U
4     D
5     A
6     T
7     M
8     I
9     G
10    T
11    Y
12    H
13    T
14    H
15    S
Name: name, dtype: object

In [29]:
names.str.get(-1)

id
1     i
2     a
3     e
4     J
5     e
6     t
7     r
8     r
9     y
10    c
11    i
12    l
13    r
14    i
15    y
Name: name, dtype: object

In [30]:
names.str.get_dummies()

,Avengers - End Game,Baahubali,Brahmastra,DDLJ,Gravity,Hera Pheri,Houseful,Interstellar,Major,Sholay,Tenet,The Dictator,Titanic,Uri - The Surgical Strike,Yeh Jawani Hai Deewani
id,,,,,,,,,,,,,,,
1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0
4,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
5,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
7,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
8,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
9,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
11,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
12,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
14,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [31]:
genre1 = movies['genre']

In [32]:
genre1.str.get_dummies()

    Action  Comedy  Drama  Mystereous  Romantic  SciFI  SciFi
id
1        1       0      0           0         0      0      0
2        0       0      0           1         0      0      0
3        1       0      0           0         0      0      0
4        0       0      0           0         1      0      0
5        1       0      0           0         0      0      0
6        0       0      0           0         0      1      0
7        1       0      0           0         0      0      0
8        0       0      0           0         0      0      1
9        0       0      0           0         0      0      1
10       0       0      1           0         0      0      0
11       0       0      0           0         1      0      0
12       0       1      0           0         0      0      0
13       0       1      0           0         0      0      0
14       0       1      0           0         0      0      0
15       0       0      1           0         0      0      0

In [33]:
# names.str.index()

In [34]:
names.str.join('.')

id
1                                     B.a.a.h.u.b.a.l.i
2                                   B.r.a.h.m.a.s.t.r.a
3     U.r.i. .-. .T.h.e. .S.u.r.g.i.c.a.l. .S.t.r.i.k.e
4                                               D.D.L.J
5                 A.v.e.n.g.e.r.s. .-. .E.n.d. .G.a.m.e
6                                             T.e.n.e.t
7                                             M.a.j.o.r
8                               I.n.t.e.r.s.t.e.l.l.a.r
9                                         G.r.a.v.i.t.y
10                                        T.i.t.a.n.i.c
11          Y.e.h. .J.a.w.a.n.i. .H.a.i. .D.e.e.w.a.n.i
12                                      H.o.u.s.e.f.u.l
13                              T.h.e. .D.i.c.t.a.t.o.r
14                                  H.e.r.a. .P.h.e.r.i
15                                          S.h.o.l.a.y
Name: name, dtype: object

In [35]:
names.str.split('e').str.join('--+--')

id
1                              Baahubali
2                             Brahmastra
3      Uri - Th--+-- Surgical Strik--+--
4                                   DDLJ
5        Av--+--ng--+--rs - End Gam--+--
6                          T--+--n--+--t
7                                  Major
8                   Int--+--rst--+--llar
9                                Gravity
10                               Titanic
11    Y--+--h Jawani Hai D--+----+--wani
12                          Hous--+--ful
13                      Th--+-- Dictator
14                    H--+--ra Ph--+--ri
15                                Sholay
Name: name, dtype: object

In [36]:
names.str.strip()

id
1                     Baahubali
2                    Brahmastra
3     Uri - The Surgical Strike
4                          DDLJ
5           Avengers - End Game
6                         Tenet
7                         Major
8                  Interstellar
9                       Gravity
10                      Titanic
11       Yeh Jawani Hai Deewani
12                     Houseful
13                 The Dictator
14                   Hera Pheri
15                       Sholay
Name: name, dtype: object

In [37]:
movies['genre'][movies['name'].str.strip().str.lower()=='Interstellar'.lower()].values[0]

'SciFi'

# q7. avg duration of each genre

In [38]:
movies['genre'].unique()

array(['Action', 'Mystereous', 'Romantic', 'SciFI', 'SciFi', 'Drama',
       'Comedy'], dtype=object)

In [39]:
movies['genre'].nunique()

7

In [40]:
movies['genre'].value_counts()

Action        4
Comedy        3
Romantic      2
SciFi         2
Drama         2
Mystereous    1
SciFI         1
Name: genre, dtype: int64

In [41]:
for genre in movies['genre'].unique():
    print(genre)

Action
Mystereous
Romantic
SciFI
SciFi
Drama
Comedy

In [42]:
for genre in movies['genre'].unique():
    print(genre , movies[movies['genre']==genre]['duration'].mean())

Action 152.5
Mystereous 180.0
Romantic 150.0
SciFI 150.0
SciFi 160.0
Drama 165.0
Comedy 136.66666666666666

In [43]:
movies.groupby('genre')['duration'].mean()

genre
Action        152.500000
Comedy        136.666667
Drama         165.000000
Mystereous    180.000000
Romantic      150.000000
SciFI         150.000000
SciFi         160.000000
Name: duration, dtype: float64

In [44]:
movies.groupby(['genre','industry'])['duration'].mean()

genre       industry
Action      Bollywood    130.0
            Hollywood    180.0
            Tollywood    170.0
Comedy      Bollywood    145.0
            Hollywood    120.0
Drama       Bollywood    150.0
            Hollywood    180.0
Mystereous  Bollywood    180.0
Romantic    Bollywood    150.0
SciFI       Hollywood    150.0
SciFi       Hollywood    160.0
Name: duration, dtype: float64

In [45]:
movies.groupby(['industry','genre'])['duration'].mean()

industry   genre
Bollywood  Action        130.0
           Comedy        145.0
           Drama         150.0
           Mystereous    180.0
           Romantic      150.0
Hollywood  Action        180.0
           Comedy        120.0
           Drama         180.0
           SciFI         150.0
           SciFi         160.0
Tollywood  Action        170.0
Name: duration, dtype: float64

In [46]:
movies.describe()

         duration     rating
count   15.000000  15.000000
mean   153.333333   7.833333
std     22.253946   1.718249
min    120.000000   5.000000
25%    140.000000   6.500000
50%    150.000000   8.500000
75%    175.000000   9.000000
max    190.000000  10.000000

In [48]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 1 to 15
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      15 non-null     object
 1   industry  15 non-null     object
 2   genre     15 non-null     object
 3   language  15 non-null     object
 4   duration  15 non-null     int64
 5   rating    15 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 1.4+ KB

In [47]:
movies.describe(include = 'all')

             name   industry   genre language    duration     rating
count          15         15      15       15   15.000000  15.000000
unique         15          3       7        3         NaN        NaN
top     Baahubali  Bollywood  Action    Hindi         NaN        NaN
freq            1          8       4        8         NaN        NaN
mean          NaN        NaN     NaN      NaN  153.333333   7.833333
std           NaN        NaN     NaN      NaN   22.253946   1.718249
min           NaN        NaN     NaN      NaN  120.000000   5.000000
25%           NaN        NaN     NaN      NaN  140.000000   6.500000
50%           NaN        NaN     NaN      NaN  150.000000   8.500000
75%           NaN        NaN     NaN      NaN  175.000000   9.000000
max           NaN        NaN     NaN      NaN  190.000000  10.000000

In [49]:
movies.groupby('genre').describe()

           duration                                                            \
              count        mean        std    min    25%    50%    75%    max
genre
Action          4.0  152.500000  27.537853  120.0  135.0  155.0  172.5  180.0
Comedy          3.0  136.666667  15.275252  120.0  130.0  140.0  145.0  150.0
Drama           2.0  165.000000  21.213203  150.0  157.5  165.0  172.5  180.0
Mystereous      1.0  180.000000        NaN  180.0  180.0  180.0  180.0  180.0
Romantic        2.0  150.000000   0.000000  150.0  150.0  150.0  150.0  150.0
SciFI           1.0  150.000000        NaN  150.0  150.0  150.0  150.0  150.0
SciFi           2.0  160.000000  42.426407  130.0  145.0  160.0  175.0  190.0

           rating
            count      mean       std  min    25%   50%    75%   max
genre
Action        4.0  9.125000  0.853913  8.0  8.750  9.25  9.625  10.0
Comedy        3.0  7.333333  1.527525  6.0  6.500  7.00  8.000   9.0
Drama         2.0  8.750000  0.353553  8.5  8.625  8.75  8.875   9.0
Mystereous    1.0  5.000000       NaN  5.0  5.000  5.00  5.000   5.0
Romantic      2.0  7.500000  3.535534  5.0  6.250  7.50  8.750  10.0
SciFI         1.0  8.500000       NaN  8.5  8.500  8.50  8.500   8.5
SciFi         2.0  6.500000  0.707107  6.0  6.250  6.50  6.750   7.0

In [51]:
movies.groupby('industry').describe().T

industry         Bollywood   Hollywood  Tollywood
duration count    8.000000    6.000000        1.0
         mean   147.500000  158.333333      170.0
         std     16.690459   29.268869        NaN
         min    120.000000  120.000000      170.0
         25%    140.000000  135.000000      170.0
         50%    150.000000  165.000000      170.0
         75%    150.000000  180.000000      170.0
         max    180.000000  190.000000      170.0
rating   count    8.000000    6.000000        1.0
         mean     7.687500    7.750000        9.5
         std      2.086307    1.254990        NaN
         min      5.000000    6.000000        9.5
         25%      5.750000    7.000000        9.5
         50%      8.250000    7.750000        9.5
         75%      9.250000    8.875000        9.5
         max     10.000000    9.000000        9.5

# q8. avg rating each industry

In [52]:
movies.groupby('industry')['rating'].mean()

industry
Bollywood    7.6875
Hollywood    7.7500
Tollywood    9.5000
Name: rating, dtype: float64

# q9.avg rating of romantic movies industry wise

In [53]:
movies[movies['genre'].str.lower()=='romantic']

                      name   industry     genre language  duration  rating
id
4                     DDLJ  Bollywood  Romantic    Hindi       150    10.0
11  Yeh Jawani Hai Deewani  Bollywood  Romantic    Hindi       150     5.0

In [54]:
movies[movies['genre'].str.lower()=='romantic'].groupby('industry')['rating'].mean()

industry
Bollywood    7.5
Name: rating, dtype: float64

# q10. list down all the english movies with respective ratings in descending order

In [55]:
movies[movies['language'].str.lower()=='english'][['name','rating']]

                   name  rating
id
5   Avengers - End Game     9.0
6                 Tenet     8.5
8          Interstellar     7.0
9               Gravity     6.0
10              Titanic     9.0
13         The Dictator     7.0

In [58]:
movies[movies['language'].str.lower()=='english'][['name','rating']] .sort_values(by = 'rating' , ascending=False)

                   name  rating
id
5   Avengers - End Game     9.0
10              Titanic     9.0
6                 Tenet     8.5
8          Interstellar     7.0
13         The Dictator     7.0
9               Gravity     6.0